.wrapper{
    /* background-color: #1e1f21; */
    width: 900px;
    margin: 5% auto;
    margin-top: 30px;
}

.wrapper h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
}


.wrapper hr{
    /* width: 300px; */
    width: 25%;
    margin: 0 auto;
    height: 5px;
    background-color: darkslateblue;
}

.single-price{
    width:33%;
    background: #262626;
    float: left;
    margin-top: 2%;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
    text-align: 0.9s;
}

.price{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid rgba(128, 0, 128, 0.416);
    margin: 5% auto 0 auto;
    text-align: center;
}

.deals{
    margin-top: 10%;
}

.single-price h1{
    font-size: 18px;
    color: #fff;
    line-height: 3;
    text-transform: uppercase;
    text-align: center;
}
.price h2{
    font-size: 38px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 31px;
}

.permonth{
    font-size: small;
    margin-top: 14px;
    color: grey;
}

.deals{
    font-size: 14px;
    font-weight: normal;
    text-align: start;
    color: #fff;
    line-height: 1;
}

.deals h4{
    font-size: 15px;
    /* text-align: start; */
}

.single-price:hover {
    background: rgba(128, 128, 128, 0.365);
    color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,1);
    transform: scale(1.02);
    z-index: 1;
    border-radius: 25px;
}

single-price:hover .price{
    border-color: #fff;
}

.single-price a{
    text-decoration: none;
    background: rgba(128, 128, 128, 0.365);
    color: #fff;
    padding: 10px 80px;
    display: inline-block;
    margin: 15%;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.single-price:hover a{
    background: #262626;
    color: #fff;
}

@media (max-width: 850px) {
    .wrapper {
        width: 100%;
        height: 30%;
        padding: 5rem 5rem;
        margin: 0 auto;
        margin-top: -45px;
        justify-content: center;
        align-items: center;
    }

    .wrapper h2{
        margin: 0 auto;
        /* margin-left: 2rem; */
    }

    .wrapper hr{
        margin: 0 auto;
        width: 30%;
        margin-top: 8px;
    }

    
    
    .single-price {
        justify-content: center;
        align-items: center;
        padding: 10px 30px;
        width: 90%;
        margin-left: 12%;
        margin: 4%;
    }

    .price h2{
        margin-top: 32px;
    }
    
    .single-price a {
        padding: 10px 30px;
    }
}
